<div>
  <!-- {{ countdown }} -->
  <form name="searchUser" class="searchForm" ng-submit="search(username)">
    <input type="search" id="searchBox" class="search form-control" required="" placeholder="Username to find" ng-model="username" />
    <a class="clear" ng-click="clearSearch()">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
    <button type="submit" value="Search" class="submit btn btn-primary" ng-click="search(username)">Search</button>
  </form>
  <div ng-include="userdetails.html" ng-show="user"></div>
</div>
