<div class="nav-container">
  <a href="#/user/{{repo.owner.login}}" class="backRepo"><span class="glyphicon glyphicon-arrow-left"></span> Back to {{repo.owner.login}}</a>
  <div class="mid"> </div>
  <a href="#/main" class="back"><span class="glyphicon glyphicon-arrow-left"></span> Search</a>
</div>

<div>
  <h3>{{repo.name}}</h3>
  Issues: {{repo.open_issues_count}}
</div>

<div class="contrib">
  <h3>Contributors</h3>
  <ul>
    <li ng-repeat="user in repo.contributors">
      <img src="{{user.avatar_url}}" alt="{{user.login}}" class="avatar" />
      {{ user.login }}
    </li>
  </ul>
</div>
